		<div class="socialinks">
			<ul>
				<!-- IF S_ENABLE_FEEDS -->
				<li>
					<a type="application/rss+xml" href="{U_FEED}">
						<i class="icon fp-feed" title="{L_FEED} - {SITENAME}"></i>
					</a>
				</li>
				<!-- ENDIF -->
				
				<li>
					<a href="https://brave-collective.slack.com/" title="Slack">
						<i class="fab fa-slack"></i>
					</a>
				</li>
				<li>
					<a href="https://wiki.bravecollective.com/" title="Wiki">
						<i class="fab fa-wikipedia-w"></i>
					</a>
				</li>

				<li>
					<a href="https://www.reddit.com/r/Bravenewbies" title="Reddit">
						<i class="fab fa-reddit"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/bravenewbies" title="Twitter">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
			</ul>
		</div>