@import url("../../proflat/theme/style_proflat.css");


.site_logo {
	background: none;
}

.headerbar {
    background-image: url("./images/brave-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
}

.search-header {
    margin-top: 0;
}

.search-header p {
    color: #ffffff;
}

.sociallinks {
    font-size: 2.5em;
}

h1 {
    margin: 0;
}

@media (max-width: 700px) {
    .headerbar {
        padding: 15px 0;
    }
}